<form>
  <div class="form-group">
    <label for="zip">Legislator Lookup: </label>
    {{input value=zip id="zip" placeholder="Enter zip code"}}
  </div>

  <button class="btn btn-primary glyphicon glyphicon-search" {{action 'zipLookup'}}></button>
</form>
